<div class="todo">
  <div class="todo__text">
    <input type="text" placeholder="Enter your task." [(ngModel)]="text" (keydown)="handleEnter($event)">
  </div>
  <div class="todo__actions">
    <button (click)="submitTodo()"><i class="fas fa-plus-circle"></i></button>
  </div>
</div>
