@import '../../sass/variables'

.todo
  align-items: center
  background: $white
  border-radius: 5px
  border-left: 15px solid $primary
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .18)
  display: flex
  font-family: 'Arimo'
  font-size: 18px
  padding: 1em 1em
  margin: auto
  margin-top: 1em
  justify-content: space-between
  width: 80%

  &__text
    flex: 8

input
  border: 0
  background: $white
  font-family: 'Didact Gothic'
  font-size: 18px
  outline: 0
  width: 100%

button
  background: $white
  border: 0
  color: $green
  font-family: 'Didact Gothic'
  font-size: 24px
  transition: color 0.2s

  &:hover
    color: darken($green, 10%)
