@import '../../sass/variables'

header
  background: $grey
  border-top: 6px solid $primary
  color: $white
  font-family: 'Didact Gothic'
  font-size: 31px
  padding: 1em 2em

.title-bar
  border-bottom: 2px solid darken($grey, 5%)
  display: flex
  font-family: 'Didact Gothic'
  font-size: 28px
  margin: auto
  margin-top: 1em
  padding-bottom: 0.8em
  width: 80%

  &__text
    flex: 8

  &__completed
    flex: 1
    text-align: center

  &__actions
    flex: 2
    text-align: right
