<header>
  Angular Todo App
</header>
<app-create-todo></app-create-todo>
<div class="title-bar">
  <div class="title-bar__text">
    Task
  </div>
  <div class="title-bar__completed">
    Completed?
  </div>
  <div class="title-bar__actions">
    Actions
  </div>
</div>
