@import '../../sass/variables'
  
.todo
  align-items: center
  background: $white
  border-radius: 5px
  border-left: 15px solid $primary
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .18)
  display: flex
  font-family: 'Didact Gothic'
  font-size: 18px
  height: 4em
  justify-content: space-between
  margin: 1em 0
  padding: .5em 1em
  transition: border-left-width 0.3s

  &__text
    flex: 8

  &__completed
    color: lighten($grey, 10%)
    font-size: 24px
    flex: 1
    text-align: center

  &__actions
    justify-content: flex-end
    display: flex
    flex: 2

  &.editing
    border-left-width: 30px

input
  border: 0
  background: $white
  font-family: 'Didact Gothic'
  font-size: 18px
  outline: 0
  width: 100%

button
  background: $white
  border: 0
  color: $grey
  cursor: pointer
  font-size: 24px
  margin: 0 .4em
  transition: color 0.2s

  &:hover
    color: darken($grey, 10%)

  .error
    color: darken($primary, 5%)
    transition: color 0.2s

    &:hover
      color: darken($primary, 15%)

  .success
    color: $green
    transition: color 0.2s

    &:hover
      color: darken($green, 10%)