<article class="todo" [class.editing]="editing">
  <div class="todo__text">
    <p *ngIf="!editing">{{ todo.text }}</p>
    <input
      autofocus
      type="text"
      *ngIf="editing"
      [(ngModel)]="todo.text"
      (keydown.enter)="updateTodo()">
  </div>
  <div class="todo__completed" (click)="toggleCompletion()">
    <span *ngIf="todo.completed"><i class="fas fa-check success"></i></span>
    <span *ngIf="!todo.completed"><i class="fas fa-times"></i></span>
  </div>
  <div class="todo__actions">
    <div *ngIf="!editing">
      <button (click)="toggleEdit()"><i class="far fa-edit"></i></button>
      <button (click)="deleteTodo()"><i class="fas fa-minus-circle error"></i></button>
    </div>
    <div *ngIf="editing">
      <button (click)="updateTodo()"><i class="fas fa-check success"></i></button>
    </div>
  </div>
</article>
